@import url('https://fonts.google.com/specimen/Poppins');
body{
    background-color: hsl(0, 0%, 98%);
    width:100%;
    height: 100%;
    margin: 70px 0 0;
    font-family: "Poppins",sans-serif;
    font-size: 15px;
}
.center{
    text-align: center;
}
.body{
    width:970px;
    height: 483px;
    margin: auto;
    display: grid;
    column-gap: 35px;
    row-gap: 35px;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 215px 215px;
    padding: auto;
    margin-bottom: 5px;
}
.common{
    width:250px;
    height:219px;
    color: hsl(0, 0%, 61%);
    background-color: white;
    padding-left: 20px;
    padding-right: 30px;
    border-radius: 5px;
    border-top: 5px solid hsl(212, 86%, 64%) ;
    font-size: 14px;
    line-height: 22px;
    box-shadow: 20px 20px 20px rgba(219, 219, 219,0.3);
    padding-top: 10px;
}
.common h2{
    color:hsla(234, 12%, 34%,1.5);
    font-size: 16px;
}
.common:nth-of-type(2n+1){
    margin-top: 120px;
}
.common:nth-of-type(2){
    border-top: 5px solid hsl(0, 78%, 62%);
}
.common:nth-of-type(3){
    border-top: 5px solid hsl(180, 62%, 55%);
}
.common:nth-of-type(4){
    margin-left: 335px;
    border-top: 5px solid hsl(34, 97%, 64%) ;
}
.common img{
    margin-left: 175px;
    margin-top: 20px;
}